@page "/QrGenerator"

<h3>QR Generator</h3>
<p>Status: @_status</p>

<button type="submit" @onclick="@OnSubmitNote">Generate QR-code!</button>

@if (_generatedQrCodeUrl != null)
{
    <img src="@_generatedQrCodeUrl" alt="QR-code"/>
}